SUBPATH:            servertweaks\1.3.0-beta.16+mc1.21.11\
ARTIFACT FILE NAME: MilliesServerAdditions-1.3.0-beta.16+mc1.21.11
VERSION:            1.3.0-beta.16+mc1.21.11
SUBGROUP:           justmili
ARTIFACT ID:        servertweaks